[2019-11-22 16:07] StykMartin opened #2 "Move all active development to GitHub"
Following actions are tight with Gerrit:

- Tags, this is ok
- Brew builds, has to be replaced by something else or create proxy
- Valgrind, can be moved
- Test suite, can be moved
- Tito, can be moved
- Probably pooling into prod?

[2020-04-06 12:00] StykMartin opened #6 "Latest released restraint can not be rebuild on Fedora 32 / Fedora Rawhide"
I tried to build Restraint with Fedora 32/Rawhide chroot and this is the result
[code]

It seems that GCC 10 blaming third-party GLib (2.56.4) for null strings. This is not the case, however, this needs to be addressed as the build is failing.

[2020-04-06 14:27] StykMartin opened #9 "Upgrade third-party GLib to latest released version"
Restraint is using `GLib 2.56.4` in static builds. However, the latest released version of `GLib` right now is `2.64.x`. We should align with this version as we are gathering more problems with the old `GLib` version.
For example #7 and this is only the tip of iceberg.

Possible problems:
- Autotools is no longer used / [Meson](https://mesonbuild.com/) is used instead
- Backward compatibility. Cen

[2020-04-06 14:30] ernestask commented on #9
Good luck.

[2020-04-07 14:14] wizardofoz123 opened #11 "reservesys task url is invalid"
The <fetch /> elements in https://restraint.readthedocs.io/en/latest/using.html have an url that doesn't seem to work:

$ git clone git://fedorapeople.org/home/fedora/bpeck/public_git/tests.git#distribution/reservesys
Cloning into 'reservesys'...
fatal: remote error: access denied or repository not exported: /home/fedora/bpeck/public_git/tests.git#distribution/reservesys

My jobs using this url ha

[2020-04-07 14:20] StykMartin commented on #11
This is definitely obsolete and should be replaced with our reservesys (provided by Beaker)

reservesys used by beaker-core-tasks should be working just fine. Can you please share the error?

[2020-04-07 15:56] StykMartin opened #12 "Migration from 0.1.45 to 0.2.0 is nightmare"
Docs / Release notes wasn't sufficient for 0.2.0 (maybe it would be better to even bump restraint to 1.0.0 due to changes).

Well. We have to learn from mistakes.
So following this has to be addressed.
- Outline fully the scope of the changes for libssh removal in the changelog. We basically destroyed API and backward compatibility. 0.1.45 can't speak with 0.2.0. Port can't be used anymore.
- Revi

[2020-04-07 15:57] StykMartin commented on #12
Also, one thing to consider that @danrodrig already outlined. Adding support for `port` back.

[2020-04-07 16:33] StykMartin commented on #12
This is also connected with #11. You can't use 0.1.45 as client

[2020-04-07 18:10] wizardofoz123 commented on #11
Thank you, @StykMartin . As we discussed on IRC, the issue is with the restraint client version.
Updating everything to restraint-client-0.2.0-1 fixed the issue.

I've opened https://github.com/beaker-project/restraint/pull/14 to adjust the invalid url.

[2020-04-08 08:14] StykMartin opened #15 "Change format of release notes"
I would like to open this topic here. So we can figure out how our changelog should look like.
I still believe that including BZ links doesn't solve anything. More on that it is giving the feeling you addressed the only problem mentioned there and any other line wasn't changed. As we can see now, sometimes BZ doesn't cover the whole initial scale. Therefore, we have to adapt and bring all informat

[2020-04-08 08:17] #2 closed

[2020-04-08 08:25] StykMartin commented on #15
My initial idea would be to split changelog to multiple sections
- Deprecation
- Feature
- Docs
- Other (Bug, Cleanup)

And reference PR rather than issue

[2020-04-08 09:14] #6 closed

[2020-04-08 09:14] #11 closed

[2020-04-08 09:21] StykMartin opened #16 "Tests are failing due to missing pidof"
[code]

[2020-04-08 09:26] StykMartin opened #17 "Create custom tito tagger"
At this moment we have 2 spec files for Restraint.
One used for static builds (and heavily used) and the second one is only for Fedora where we are leveraging dynamic linking.

Tito is capable of autodetecting and update spec file for a static build, however, the version is not being updated in case of Fedora located in `specfiles/`.

[2020-04-08 10:55] cbouchar commented on #12
I had pursued trying to keep the port when I worked on Bill's changes.  Perhaps @danrodrig fresh set of eyes may see a way to that.

[2020-04-08 10:55] cbouchar commented on #12
In the meantime, I will work on changelog.

[2020-04-08 11:24] #16 closed

[2020-04-08 13:05] cbouchar commented on #15
Not sure you can split doc from code as often a new feature comes with
documentation changes.

food for thought. Here are some reference links from Open Stack.
They use a tool called reno to create a release note per changeset.
The gathering of these individual release note files is done automatically
at release time.
https://docs.openstack.org/reno/latest/user/usage.html
This is a sample output o

[2020-04-08 13:35] renanrodrigo commented on #15
I like Martin's suggestion.

As @cbouchar posted, I have worked with changelogs in the past following [this guide](https://keepachangelog.com/en/1.1.0/) and had a good experience. Hereby I suggest we do it.

I don't think it should be generated automatically from git logs because IMHO, git logs should be meant for developers while changelogs should be meant for customers.

Using a tool like `reno`

[2020-04-09 09:20] The-Mule opened #24 "PTY needed for ausearch after 0.2.0 upgrade"
Beaker tasks for audit testing usually consist of adding some audit rule, generating audit event and then using ausearch to check that event was logged in audit log. Hence we usually follow this scheme in runtest.sh:

rlRun "auditctl -a ..." 0 "Add rule catching event X"
rlRun "..." 0 "Do some action o trigger event X"
rlRun "ausearch ..." 0 "Check that event X was logged"

Previously, with restra

[2020-04-09 09:34] StykMartin commented on #24
This definitely may be connected with a code change where we removed LIBSSH. There is a lot of changes regarding IO. @cbouchar can you look into it?

- Failing  `J:4184515`
- Passing `J:4184628`

[2020-04-09 16:50] StykMartin opened #26 "[0.2.0] Tests are failing without logs and harness contains only error code"
[code]
No task output included.
This makes me feel that plugins running at the beginning of execution blows up.

You can find additional information on job `J:4187178`.

[2020-04-09 18:26] lukaszachy commented on #26
FTR: Running ```J:4187719``` with restraint-rhts-0.1.45 and so far no issue happened.

[2020-04-14 12:16] cbouchar commented on #26
Need more details.  Job 4187178 seems to have task output.

[2020-04-14 14:28] danrodrig opened #28 "Allow to specify restraintd port"
In Restraint 0.1.45 and older the "-p, --port" option let users choose the port where restraintd listened to HTTP requests. If the option was not used, the port was set to 8081 as default.

In Restraint 0.2.0 the option is removed and the port is chosen randomly on every run. There is no way of defining the port, and when restraintd is running as service, the system needs to be inspected to find o

[2020-04-14 14:31] danrodrig commented on #28
@StykMartin @cbouchar can you take a look, please?

[2020-04-14 14:46] StykMartin commented on #28
0. I'm completely fine with adding `-p, --port` back if it is feasible.
1. This has to be documented properly.

[2020-04-14 14:53] cbouchar commented on #28
I had pursued this when working on sshlib removal and at that time could not find a solution to make that happen.  Perhaps a fresh set of eyes can find a solution.  I can pick-up the reservesystem issue if it is an issue.

[2020-04-14 15:07] danrodrig commented on #28
@StykMartin,

Easy.

Yes.

@cbouchar,

You don't need to, it's covered here.

[2020-04-14 15:10] StykMartin commented on #28
Great! Thanks for your effort @danrodrig

[2020-04-14 15:10] cbouchar commented on #28
Daniel it sounds like you have this covered then. TY

[2020-04-15 06:56] thrix commented on #24
Oh, we migrated just to 0.2.0 and missed this issue. This is unfortunate. Can somebody please investigate this with priority? This might hit us hard in CI

[2020-04-15 08:19] danrodrig opened #34 "Resolve dependency on pidof"
In commit f0684a0edb1261030e504d3b2f870e69df867206 `pidof` became restraint's dependency.

It was resolved for upstream in commit ea6e4b41aad5632313a3d370eea070fa0fc41632, but not for downstream. This is CentOS 5 to 8 and equivalent enterprise distributions.

Requiring `pidof` across the supported distros is a bit messy, as the program is provided in different packages and different paths:
- CentO

[2020-04-15 08:32] StykMartin commented on #26
- T:108787821
- T:108787822
- T:108787826
and so on

[2020-04-15 11:44] cbouchar commented on #24
Investigating now.

[2020-04-15 11:58] #34 closed

[2020-04-15 14:07] sopos commented on #24
Why ausearch relies on PTY? Isn't it a bug of ausearch as well?

[2020-04-15 16:27] thrix commented on #24
@sopos yeah, I believe @The-Mule is reporting that internally ... but anyway, it is not feasible to fix all RHELs :)

[2020-04-16 08:31] WOnder93 commented on #24
It's not a bug, it's just a really confusing "feature". Basically, ausearch checks if stdin is something other than TTY and in that case reads the records from there instead of the system audit logs. It is supposed to be for convenience so that you can do e.g. `grep something audit.log | ausearch -m AVC` to read from a pipe, but `ausearch -m AVC` to read from the system logs. (Yes, this is horribl

[2020-04-16 09:55] The-Mule commented on #24
@WOnder93 Ondro, thanks for perfect explanation. Now it is starting to make sense to me. I am not hesitant to fix the test as long as there is a good rationale behind it and I consider the one you suggested to be a good one.

I am just wondering what stdin is in restraint-0.2.0.

I did a quick check to see if tty was present in 0.1.45 and 0.2.0 and there is none (I just run 'tty' command in the te

[2020-04-16 10:22] thrix commented on #24
Still :) this is a change of behaviour that can break a lot of tests, it is not just about @The-Mule :) I would definitely opt so we fix restraint so it behaves as before, if that is not possible, than go back to changing a lot of tests :)

[2020-04-16 12:19] cbouchar commented on #24
Hi Ondrej:

I ran into issues running the rpm you provided me yesterday.  I wrote my
own task and it performs a fetch operation and what I'm seeing is
'ausearch' also failed in 0.1.45 for me.  I'm also working from the
development beaker.  Here is my job.  Can you see the difference?

https://beaker-devel.app.eng.bos.redhat.com/jobs/18535

Carol

On Thu, Apr 16, 2020 at 6:22 AM Miroslav Vadkerti <

[2020-04-16 12:32] cbouchar commented on #24
Let me try to be clearer.  Can you see the difference between my task and
yours? Why behavior difference?

Carol

On Thu, Apr 16, 2020 at 8:18 AM Carol Bouchard <cbouchar@redhat.com> wrote:

[2020-04-17 10:17] cbouchar commented on #24
I'm seeing the discrepancy appear when I remove the 'glib update'.  It
doesn't appear to be an issue with removal of sshlib.
Stay tuned as I'm doing further testing to confirm.

Carol

On Thu, Apr 16, 2020 at 8:31 AM Carol Bouchard <cbouchar@redhat.com> wrote:

[2020-04-17 14:08] cbouchar commented on #24
Yes I've since confirmed issue in rm sshlib.  My previous workspace used was sick.

[2020-04-17 14:34] danrodrig commented on #24
There are some changes in IO for process in 0.2.0, and these are causing this issue, and #26 too. I made draft PR #40 for this, that reverts handling of IO. I tested it in our devel instance, and it passes. The jobs are:
- `J:18537` with current 0.2.0, it fails
- `J:18540` with #40, it passes

It is fixing also #26

I'll finish the draft, and if nothing else appears, should be fixed next week.

[2020-04-20 08:22] StykMartin opened #41 "Restraint failed to run w/ fetch from git"
Restraint failed on the following:
[code]
Task is automatically reported as failure.
Execution can be found in `J:4206965`

[2020-04-20 10:18] danrodrig opened #42 "restraintd fails to start if loopback interface doesn't support both, IPv6 and IPv4"
If the loopback interface supports both, IPv4 and IPv6, `restraintd` starts and binds to both addresses:
[code]
If IPv6 is not available, `restraintd` fails to start:
[code]
The same issue appears if only IPv6 is available on the interface.

`restraintd` should bind to any address available on the loopback interface, IPv4 or IPv6, and fail if there is none.

Originally reported in https://bugzilla

[2020-04-20 10:42] StykMartin commented on #42
Oh, hello there.
This is a regression.

[2020-04-20 14:15] StykMartin commented on #41
Hi Carol (@cbouchar), can you take a look into this one.

At this point it is not confirmed that this is an issue in Restraint. Maybe users are running something wrong or hitting some corner case.

[2020-04-20 14:20] cbouchar commented on #41
Yes

[2020-04-20 15:52] jvillal-amp commented on #42
We are seeing the same issue. I have created a BZ for it: https://bugzilla.redhat.com/show_bug.cgi?id=1825548

[2020-04-21 17:48] cbouchar commented on #41
This is not a restraint issue.  The task contains "trap 'trap - SIGTERM && kill -- -$$' SIGINT SIGTERM EXIT" which was causing it to kill itself so 10_bash_login does not run to completion.  I ran the code manually by doing the following:
cd /mnt/tests/gitlab.cee.redhat.com/kernel-performance/sched/scheduler-benchmarks/-/archive/master/scheduler-benchmarks-master.tar.gz/MasterTask
export MASTER_PA

[2020-04-21 18:18] jirka-h commented on #41
Thanks a lot for the update!

I have tried to disable traps before the end of the script with
trap - EXIT SIGINT SIGTERM SIGHUP
I will need to check why it's not working.

I have now disabled traps all together and I have restarted the jobs to verify that it fixes the problem.

Background info: we start lots of monitoring processes in the background. The traps are there to make sure that all child

[2020-04-21 19:38] cbouchar commented on #41
The task is now running successfully. ref J4211675

[2020-04-21 19:38] #41 closed

[2020-04-21 19:43] jirka-h commented on #41
I was disabling the trap in the wrong script - it has to be disabled in the MasterTask script.

@cbouchar - you did an AMAZING job to debug this issue. It has required to deep dive into the structure of our tests and it wasn't easy. Thank you for going the extra mile! I do appreciate that!

[2020-04-22 00:21] jirka-h commented on #41
Final remark - I have redesigned trap code and now everything works just fine, even with the trap being active. Putting it here for the reference:

[code]

[2020-04-22 07:22] StykMartin commented on #41
Thanks, @cbouchar. Great job!

[2020-04-22 10:21] #28 closed

[2020-04-22 10:39] StykMartin opened #44 "Remove dep to /usr/bin/pgrep"
During `0.2.1` development we added requirement to have `/usr/bin/pgrep` in the system.
This is the only package that we don't have as static for `restraint rpm` at this moment.

It would be great if we can get rid of it and replace it with something that we don't need to bring deps. This will increase portability.

So the question is. Are we fine with adding runtime dep to base restraint?

[2020-04-22 10:39] StykMartin commented on #44
@beaker-project/restraint-maintainers

[2020-04-22 11:09] danrodrig commented on #44
I'd say that we should avoid adding runtime deps. For Restraint, the "cleaner" we keep the system, the better.

[2020-04-22 11:14] cbouchar commented on #44
How does one acquire process IDs for restraintd via 'C' code?  I believe 'pidof' was also an issue.  I will keep googling.

[2020-04-22 11:48] cbouchar commented on #44
The pidof/pgrep came into being for rstrnt-cmds.  We could require user always provide restraintd pid and not look it up for them.  In that case, we would remove -c and just have --pid/i as argument.

[2020-04-22 12:16] StykMartin commented on #44
https://github.com/beaker-project/restraint/pull/36 should be obsolete w/ correct patching

[2020-04-23 12:19] danrodrig opened #45 "Restraint daemon logs incorrect data"
As seen in `restraintd` logs,
[code]
This is caused by incorrect use of buffer in,
https://github.com/beaker-project/restraint/blob/ae4e80b9d15d8ddcafc0341b09d86a3d4740e94a/src/server.c#L159

`g_message` expects a null terminated string, but there is no guarantee from `g_io_channel_read_chars`.

Other differences in logging introduced in 945a32871708058426538a4aba9255273e55bb5e were fixed in https

[2020-04-23 12:26] danrodrig commented on #45
@cbouchar @StykMartin I'm proposing reverting logging in server_io_callback. Thoughts?

[2020-04-24 07:04] #45 closed

[2020-04-24 12:54] #42 closed

[2020-04-24 22:09] cbouchar opened #48 "Error field must be initialized"
I noticed code was merged where the error field was not initialized to NULL.
This was an omission of a review comment in Issue #42.  Without this change,
code will behave unpredictably.

[2020-04-24 23:08] danrodrig commented on #48
https://github.com/beaker-project/restraint/blob/c05e7d02abae8b6db40a648408dcc24b2e3df173/src/server.c#L603

[2020-04-25 12:18] cbouchar commented on #48
Never seen initialization coded that way it but it will work.

[2020-04-25 12:18] #48 closed

[2020-04-28 10:34] danrodrig commented on #26
This is fixed in #50. Running build from PR in the internal Beaker production instance, `J:4225987`, behaves as 0.1.45.

[2020-04-28 19:32] cbouchar opened #51 "Replace abort, watchdog, report-result, log command argument -i|--pid with --port"
Since specifying static ports is back, we can use it instead to drive the abort, watchdog, report-result, and log commands.  The reason for this change is it is more static where pid is always
different and changes as the restraintd service/process is restarted.

It is desirable to complete this change before next release since the planned
arguments -i|--pid has not been made public. Instead we wi

[2020-04-29 11:21] danrodrig commented on #24
This issue is fixed in #50. Verified in our internal Beaker devel instance, `J:18600`.

[2020-04-29 14:57] danrodrig opened #53 "Don't use g_error for logging expected errors"
Per [GLib documentation](https://developer.gnome.org/glib/stable/glib-Message-Logging.html#g-error),

Currently used in,

https://github.com/beaker-project/restraint/blob/f215ff2c51fa2666d5db24e193211e25f6546015/src/task.c#L222

https://github.com/beaker-project/restraint/blob/f215ff2c51fa2666d5db24e193211e25f6546015/src/process.c#L265

https://github.com/beaker-project/restraint/blob/f215ff2c51fa

[2020-04-30 07:21] The-Mule commented on #24
I can confirm this - https://beaker.engineering.redhat.com/jobs/4230495. Thanks a lot! Feel free to close this one as resolved once the fixed restraint is in production.

[2020-04-30 10:12] danrodrig commented on #24
Thanks for the feedback, @The-Mule. This issue will be closed by GitHub after #50 is merged. Internal deployments are not tracked here.

[2020-04-30 12:05] #24 closed

[2020-04-30 12:05] #26 closed

[2020-04-30 13:03] #53 closed

[2020-04-30 13:30] cbouchar opened #56 "Evaluate ansible/OS limitation issues"
What are the limitation issues as ansible progresses through OSs (RHEL, Fedora)? Can we even run ansible on RHEL 5?  What Python versions are required and is it in conflict with restraint?

[2020-04-30 13:35] danrodrig commented on #56
Regarding using Ansible to manage RHEL 5 nodes: https://www.ansible.com/blog/using-ansible-to-manage-rhel-5-yesterday-today-and-tomorrow

[2020-05-01 15:35] cbouchar opened #58 "Prepare Release notes for release 0.2.1"
Expecting new 0.2.1 release.  Prepare release notes accordingly.

[2020-05-11 06:00] StykMartin commented on #58
I still believe that we are missing #15.

[2020-05-11 08:52] danrodrig opened #62 "get_package_version error message is incomplete"
The error handling in `get_package_version ()` expects that the error message printed by the `rpm` program is either in stderr or stdout, in this order.
As found in a recent failure, a non-related warning message was printed to stderr, hiding the error message that was printed to stdout.

Either both outputs, stdout and stderr, are included in the error message, or stdout should take precedence ov

[2020-05-11 09:27] danrodrig commented on #15
Sounds good. I would add explicit section for Bugs/Fixes.

And this because, message in release notes would be similar to what's in the issue. As these are higher level than what's in the PR. Right?

Would be better to have both. Something generating the release notes for you, but letting you do some tweaking. Similar to what tito does for the change log in the spec file.

[2020-05-11 10:22] cbouchar commented on #15
Rena tool doesn't gather from git logs.  You create a separate file using the rena tool with each commit.  Here's an example of such files in Openstack neutron.
https://github.com/openstack/neutron/tree/master/releasenotes/notes
These files are used to generate release notes for a given release.

[2020-05-11 10:24] cbouchar commented on #15
Something that's on my mind is 'Do we need to re-invent the wheel?'

[2020-05-11 18:54] #44 closed

[2020-05-11 18:54] #51 closed

[2020-05-12 10:36] #62 closed

[2020-05-13 11:37] StykMartin commented on #15
I'm investigating Reno

[2020-05-14 08:01] StykMartin commented on #15
So with reno I defined following sections
[code]
And this is default template when you will ask `reno` to create new file for recoding changes
[code]

Then I created one record and generation looks like this (I was lazy to change text sorry).

[code]

[2020-05-14 08:26] #17 closed

[2020-05-14 08:27] StykMartin commented on #15
@cbouchar @renanrodrigo @danrodrig opinion on the snippet above? Thank you.
If all good I will continue with PR

[2020-05-14 10:06] StykMartin commented on #15
I created some recording for you:

[2020-05-14 10:44] renanrodrigo commented on #15
Acknowledged and agreed

[2020-05-14 11:34] cbouchar commented on #15
Sounds good.

[2020-05-15 11:56] danrodrig opened #68 "Restraint client accepts wrong host argument"
In restraint 0.1.45 the host argument was,
[code]
In 0.2.0 is,
[code]
`[<user>@]<host>[:ssh_port]` is used by the ssh client, but `<host>:ssh_port` is not valid syntax, and parsing shouldn't succeed if this format is used.

Instead of just failing with this format, we can hide these arguments, warn about deprecation just when they are used, and ignore them after parsing.
This will give user visibi

[2020-05-18 15:50] #68 closed

[2020-05-19 08:13] #15 closed

[2020-05-19 11:13] StykMartin commented on #12
Closing this one. We addressed all known problems.

[2020-05-19 11:13] #12 closed

[2020-05-19 14:14] #58 closed

[2020-05-19 20:47] danrodrig opened #72 "BuildRequires for non-static building are broken for downstream"
The downstream spec file for Restraint is setup for static building by default. Non static build is supposed to be supported by using,
[code]
But this fails during build because BuildRequires for non static building are not being enforced,
[code]
The `--without=static` option defines the macro `_without_static`, and it's used in the spec file to decide if the `with_static` macro is defined or not,

[2020-05-20 11:03] #72 closed

[2020-05-20 11:06] cbouchar opened #74 "Find substitute for /mnt directory"
Currently restraint is using space beneath the /mnt directory structure.  These include the following directories:
    * scratchspace - Not currently used but will be soon.
    * testarea - contains taskout files plus current.log link 
    * tests - contains task distribution installs
We've discussed relocating this directory structure to another location since /mnt isn't appropriate and we can li

[2020-05-20 13:06] cbouchar commented on #56
We all met and discussed the content of the article and reality of the real world.  According to the article, support for RHEL 5 is going away in 2020.  Martin said even if not supported, if a customer in dire need for a change, changes still could be made so this does not release RHEL5 for us.   The article suggests to use a newer version of python and this installed version doesn't need to be th

[2020-05-20 13:33] #56 closed

[2020-05-21 15:19] danrodrig opened #79 "Commands exit status is misleading for parsing errors"
For example,
[code]
Exit status should be non-zero.

The issue here is that `error->code` is used for return status,

https://github.com/beaker-project/restraint/blob/960653340e7d5215045cd89b871eae3897697c0b/src/client.c#L1909-L1915

But 0 is an actual error code. For example, as defined in:
https://github.com/beaker-project/restraint/blob/960653340e7d5215045cd89b871eae3897697c0b/src/errors.h#L8-L

[2020-05-22 07:14] #79 closed

[2020-05-25 09:25] fweimer opened #81 "Reduce restraintd memory usage"
We are dealing with job aborts in a low-memory environment, triggered by restraintd consuming more than 800 MiB non-sharable (anonymous) RSS. This level of memory consumption shouldn't be necessary, given what restraintd does.

[2020-05-26 13:51] cbouchar opened #86 "Remove infinite loop from lwd"
The fix for bugzilla 1813935 now interrupts the infinite loop issue since the directory
did not exist, the 20_sysinfo plugin got stuck in an infinite loop.  In my opinion, the
plugin should timeout after a period of time.

My reasons for this:
1) There could be another malfunctioning process on the device that won't quit
    sending output to the log file and this file monitoring for more messages

[2020-05-27 09:01] StykMartin opened #87 "Output of restraint-client is noisy"
The customer reported that output generated by 0.2.1 Restraint seems to contain more output than we were used to seeing before (0.1.45).

This change wasn't intentional and should be further investigated.

[2020-05-28 18:48] cbouchar opened #91 "Perf record tool fails when run with restraint harness"
When customer used the 'perf record' tool without the -o option, the output is suppose
to go into the perf.data default file but instead it goes to STDOUT.  I tested this with
restraint 0.1.45 and the issue exists there too so it is not related to the change to
remove sshlib.

I extracted snippets from the customer job and arrived at the following task.
  https://gitlab.com/cbouchar/example-tasks/

[2020-05-28 18:48] #91 closed

[2020-05-29 09:37] cbouchar opened #93 "Replace /mnt/tests & /mnt/testarea to stable directory"
The rhts package made use of /mnt directory to place working subdirectories 'tests and testarea'.
This was carried over to restraint.  This is not a stable location since data loss can occur during
upgrades.  This directory replacement will occur only for non-rhts restraint package.
Note 1: The legacy testinfo.desc file provided a variable called 'path' for this
purpose.  Restraint does not handle

[2020-05-29 17:41] cbouchar commented on #93
Duplicate of issue #74

[2020-05-29 17:41] #93 closed

[2020-06-01 07:22] danrodrig commented on #74
`/var/lib` State information. Persistent data modified by programs as they run.

`/var/lib/restraint/{scratchspace,testarea,tests}`

[2020-06-01 07:27] StykMartin commented on #74
+1 on this. This is covered by macro `%{_sharedstatedir}`

[2020-06-01 08:34] StykMartin opened #94 "RFE: Implement log caching to reduce possible failure of Restraint"
Some days ago I observed weird behavior in Restraint execution. This happens during peak of running jobs across all locations.
[code]

As you can see. tests is finished however report-result wasn't moving.

After further investigation, I noticed that the request to BKR LC took around 30 sec. And Restraint had ~110 items in message queue. So you can imagine how long it will take to empty the queue.

[2020-06-01 09:21] danrodrig commented on #86
Quoting myself from https://github.com/beaker-project/restraint/pull/76#issuecomment-632035417

Notice that per how WatchFile is implemented, it expects and idle system, logging wise. The timeout would be needed if the log file keeps growing between the 2 seconds interval. Therefore a proper value for the timeout should consider how long does echo $ACTION > /proc/sysrq-trigger take to complete.

R

[2020-06-01 13:00] cbouchar commented on #86
I have seen this kind of behavior in other projects where bad situations cause the log file to fill
with repetitive information making it difficult or even possible to see what I needed to see.

I am aware of what 'WatchFile' is doing and it is waiting for completion of sysrq-trigger requests
and it is run 3 times in 20_sysinfo for various output.

I had proposed 5 minutes as a starting point wait

[2020-06-01 14:52] cbouchar commented on #74
I was leaning towards the latter one since it makes sense to centralize information.  I have yet to
review the Packaging documentation Martin mentioned  -->  https://docs.fedoraproject.org/en-US/packaging-guidelines/

[2020-06-04 08:43] danrodrig commented on #81
To add more context here, the high memory usage in `restraintd` was due to a command within a task producing a high rate output. It seems that `restraintd` was not able to keep up sending the output back to the lab controller. In on case `taskout.log` was over 300MB, and other case was over 700MB.
We didn't find any memory leaks, yet, that could be related here, but we will take a closer look.
#94

[2020-06-09 11:05] thrix commented on #87
So even after getting rid of our plugin, dropping `-v` option from restraint, the output still looks like this:

[code]

So not even a workaround for this issue exists :(

[2020-06-09 12:11] danrodrig commented on #87
In release 0.1.45, the communication between client and server was done through a SSH tunnel that the client setup and used to reach the restraind server (soup) running in the test machine. Only the messages from the server (soup) were available to the client.

With the removal of libssh, the client launches restraintd in the test system using ssh client, and all output from restraintd, plus the m

[2020-06-11 08:30] danrodrig commented on #87
Output using build from #100
Task status,
[code]
Verbose level 1, task status and score,
[code]
Verbose level 2, harness and task output,
[code]

Verbose level 2 differs on plugin in execution output.

[2020-06-15 21:56] jvillal-amp opened #101 "Restraint doesn't wait for system to get IP address"
Running restraint on a system and see in the console the following:

[code]

Restraint gives up trying to fetch the recipe..  I'm not sure why Restraint gives up though. It has nothing else to do. Seems like it should keep trying forever.

Note: changed real system name to 'example.com' in output

[2020-06-16 19:39] jvillal-amp commented on #101
I have done a pull request on a proposed fix. With the patch it does the following:

[code]

[2020-06-23 15:06] danrodrig commented on #87
@thrix did some testing on his side with builds from #100 and so far output looks good. He also pointed out one issue related to setting task version from RPMs,
[code]
Task versions should be set from RPM version only when task is fetched from RPM. This has been already addressed in #100.

@thrix thanks for the testing!

[2020-06-25 10:58] #87 closed

[2020-06-25 13:13] StykMartin commented on #74
Let's sum up the discussion.
- No upgrades between releases. It is expected that `restraintd` is always installed from scratch.
- Restraint should use `/var/lib` file structure by default.
- Restraint-RHTS should be running all workloads in the previous folder.

[2020-06-26 12:12] danrodrig opened #105 "Local Watchdog plugins fail without restraint-rhts package"
The `sysinfo` local watchdog plugin fails if the restraint-rhts package is not installed. The plugin is using `/mnt/tests` path to store temporary files, and this directory is provided by the restraint-rhts package.
The temporary files are used for storing journalctl output and checking status of system log, `/var/log/messages` or journal. These files don't need to be under the tests directory, as

[2020-06-26 12:37] danrodrig commented on #101
@jvillal-amp as discussed in #102, we don't think that this issues is to be fixed in the `check_beaker` script. As you pointed out, restraint should keep retrying for fetching the recipe, so this should be fixed by increasing retries in restraint itself.
We are not 100% sure that an infinite loop would be safe, so increasing the restries to wait at least as much as what you found should be good.
W

[2020-06-26 15:18] jvillal-amp commented on #101
@danrodrig  Thanks for the update! Uh, if you can do the PR that would be greatly appreciated as I admit at the moment I don't know what to update in the restraint code to do what you suggest.

[2020-06-29 11:01] danrodrig commented on #101
@jvillal-amp no problem, I will take it. 🙂

[2020-06-29 12:22] cbouchar opened #108 "Fix restraint doc table formatting"
The lines in newly created tables for 'remove rhts' doc are too long.  This output was not seen when testing locally.  Not sure why there is a difference.

[2020-06-29 14:05] cbouchar commented on #74
There are two caveats to this approach.
1. Performing an upgrade must be done by --force since /mnt has different attributes.  This is no longer an issue since Martin has chosen to eliminate support for rpm upgrade in this case.
2. If someone is performing 'relative' movements in directories, they will be broken.  Ex: if something created /mnt/mystuff and wrote code which performs ../mystuff, thei

[2020-06-30 11:16] cbouchar opened #109 "Miscelllaneous doc clean-up"
Fix New Warnings not produced earlier.
Fix incomplete pointer

[2020-07-01 07:20] danrodrig commented on #101
@jvillal-amp this should be fixed with #110. Retries will be attempted for 120 seconds, instead of 30.

[2020-07-01 14:10] danrodrig commented on #74
@StykMartin pointed out that the upgrade is not needed because restraint is always installed from scratch. There is a case where restraint is upgraded during a test. This happens while testing upgrades, for example, RHEL6 to RHEL7, but, the package is upgraded between distros, and the version is the same. From restraint 0.2.1 for RHEL6 to restraint 0.2.1 for RHEL7 for example. Therefore there is n

[2020-07-03 09:26] #101 closed

[2020-07-07 18:04] #108 closed

[2020-07-07 19:56] cbouchar opened #116 "report-result Doc missing TESTRESULT SKIP"
It's not apparent in the code but there is another TESTRESULT which can be returned by the user when calling rstrnt-report-result and it is SKIP.  This is used when a test determines condition is not met to successfully run this test.   This allows user to use the same job for multiple HW types or OSs or some other condition and skip tests when they do not apply.  This TESTRESULT should be documen

[2020-07-07 20:09] jvillal-amp commented on #101
Thanks @danrodrig ! 👍

[2020-07-09 10:49] cbouchar commented on #74
Search for 'CB -' for responses

CB - Not sure why this needs further discussion since I already said Martin chose to eliminate upgrade support for restraint.

CB - No longer an issue as symlinks are not required as shown by my recent code changes.

CB - This will be replaced by /var/lib/restraint/tests when the restraint-rhts package is NOT installed. This is reflected
in my recent code changes.

[2020-07-09 14:07] danrodrig commented on #94
@ernestask implemented a log manager for this and it was going in the right direction. I rebased it on top of master in https://github.com/danrodrig/restraint/tree/log-manager

@ernestask if you are fine with it, I would like to continue that work.

[2020-07-09 14:14] ernestask commented on #94
![portrait-happy-senior-man-thumb-up-16276754.jpg](https://user-images.githubusercontent.com/26867637/87051011-51b72600-c1ff-11ea-9efc-5e90cf20ef45.jpg)

[2020-07-09 14:24] danrodrig commented on #94
@ernestask thanks.

[2020-07-09 17:39] danrodrig commented on #74
We agree on testarea and scratchspace, good. These two don't need to be moved to `/var/lib/restraint` and can be kept in `restraint-rhts`.

Now, `/mnt/tests`, I was thinking to not provide replacement at all in `restraint-rhts`, per what I wrote before. But, because that path in the metadata file, and the task that you have in GitLab, I'm not sure this is doable.

The code path in `restraint` itse

[2020-07-13 10:22] #116 closed

[2020-07-13 10:29] StykMartin opened #119 "LICENSE is not installed as part of RPM"
- License file installed when any subpackage combination is installed.
- If the package is under multiple licenses, the licensing breakdown must be documented in the spec.

More information about Licenses in for packaging:
https://docs.fedoraproject.org/en-US/packaging-guidelines/LicensingGuidelines/#_license_text

[2020-07-14 19:59] cbouchar commented on #74
I may be missing a piece of information and perhaps you can help.  Is it possible to install restraint by way of the restraint.spec file? I know you can perform yum-builddep restraint.spec file but that only installs dependencies.  Is there a way to
perform an install from source code via the restraint.spec file?  if not, rstraint-rhts will not be properly installed anyway since
it will be missing

[2020-07-15 10:59] cbouchar commented on #74
I was under the impression the mission for the /mnt replacement change wasto replace the '/mnt' directories for non-rhts installations.  Some of thesuggestions don't meet this requirement so have we changed ourrequirements?
Here's what's on the table so far:

1.  Using link from /mnt to /var/lib/restraint does not achieve this but instead just adds redirection.  This change just adds noise to our

[2020-07-17 08:44] StykMartin opened #124 "Make Restraint more robust during Beaker maintenance outages"
During the last Beaker maintenance, a lot of jobs were aborted because Restraint wasn't able to reach out to Beaker Lab Controller nor Beaker Server.

There is an infinite loop for sending data back to Beaker Lab Controller. But we have limited retries for getting information from it.

Affected operations (maybe more):
- Initial recipe fetch
- Refresh roles
- Fetching / Consuming task repo

[2020-07-17 12:35] cbouchar commented on #94
Daniel:
You may have addressed these issues already but these comments below are from my last email sent to Ernestas.
The job results have since disappeared but the job can still be cloned and rerun.
Carol
Comments from last email:
-----------------------------------
The timing of your call to rstrnt_upload_logs in task.c state TASK_COMPLETED
is not correct because it is 'important' to see the fol

[2020-07-21 13:39] cbouchar opened #126 "Task Param values incorrect"
Client seeing param values from previous task instead of values from current task.
Reproduce attempts:
* I created a task which only sets params and print them inbetween the two tasks in question and I'm seeing the same behavior.  * I tried creating my own job with the two tasks in question but it wasn't reproducible.
* Ran the questionable job and put a reserve system so I could dump the recipe X

[2020-07-21 20:10] cbouchar commented on #109
Fixes were made here:
https://github.com/beaker-project/restraint/pull/111

[2020-07-21 20:10] #109 closed

[2020-07-23 14:42] cbouchar commented on #126
I wrote debug code to see if restraint is handling the variable morf__stage properly and it was.  I discussed the issue with
my peer Daniel who suggested I look to see if customer is setting environment variables via bash somehow.  If so, this will replace what restraint set.  I did find the following file which is hardcoding the target variable 'morf__stage' I was chasing.

[root@gold-4s-a ~]# gr

[2020-07-23 14:42] #126 closed

[2020-07-27 09:56] AloisMahdal commented on #126
Oops!  Sorry for the inconvenience & thanks @cbouchar for finding bug in my code :)

[2020-07-30 07:23] StykMartin opened #136 "Task fetch via zip lost perms, this cause Restraint to kill given task"
This is what Restraint unpacked
[code]

I made curl to the same source to check if we screw up data
[code]

All looks good. So it seems that our libarchive can't handle `zip` format properly.

[2020-07-30 07:33] StykMartin commented on #136
I was able to easily reproduce given behavior
[code]

Then when I check temp directory created in unit test
[code]

[2020-07-30 14:22] cbouchar opened #138 "Add WD tests to our test suite"
Provide some WD tests to add to test suite which will verify WD for conditions like the following and other WD testing:

https://github.com/beaker-project/restraint/pull/99

[2020-07-30 18:15] ernestask commented on #136
Dumping my findings here:

libarchive chooses the streaming decompressor whenever there is no seek callback defined (which is the case whenever not using `archive_read_open_fd()`, `archive_read_open_FILE()` or any other friend). As the name would imply, it is incapable of seeking to the central directory and reading the complete file attributes, so you will not get the original permissions (c.f. h

[2020-08-07 20:48] jbastian opened #140 "RFE: allow repoRequires to fetch from a different git repo"
The `repoRequires` field in the `metadata` file allows a task to fetch other tasks as dependencies from the same git repo.  Please extend this to allow fetching dependencies from other git repos.  Some examples:

[code]

[2020-08-10 07:41] #124 closed

[2020-08-10 18:08] cbouchar opened #142 "Eliminate doc warning error"
Seeing a new warning error in documentation.

home/cbouchar/my_playground/restraint-experiment-relnotes/docs/commands.rst:615: WARNING: Duplicate explicit target name: "cmdoption--timeout".

[2020-08-11 07:31] #142 closed

[2020-08-13 14:09] #94 closed

[2020-08-13 14:13] danrodrig commented on #105
Fixed in #107

[2020-08-13 14:13] #105 closed

[2020-08-13 15:10] cbouchar commented on #74
Fixed #107

[2020-08-13 15:10] #74 closed

[2020-08-18 14:18] danrodrig commented on #81
#94 was closed by #127. This will help regarding memory usage in the situation described in previous comment, where the task was flooding the output. Instead of adding messages to the queue, messages will be written to the task log file, and it will be uploaded to Beaker when the task finishes.

That scenario was easy to reproduce using a task that prints a message to stdout in a loop. Without #12

[2020-08-18 15:15] mkenigs opened #149 "More descriptive error messages"
I was trying to run a task on a host without make installed, and even with `-vvv`, there's no indication anything other than the task itself failed. Would be nice if `command not found` or something else more descriptive was output
[code]

[2020-08-20 15:38] danrodrig commented on #149
This is an issue affecting restraint in client/server operation. Due to how communication is done, there are some error messages from harness that are being suppressed. Indeed, this should be fixed.

Thanks for reporting, @mkenigs

[2020-08-25 14:41] StykMartin opened #152 "[RFE] Improve Log Manager"
In Restraint 0.3.0 new feature was introduced.
Log manager is keeping logs until the task is finished/aborted and then it will upload it back to Beaker.

This may be suitable in the case where everything is running by automation, however, user has no chance to check the status if needed.

What should be considered -
1. User can opt-in and define that wanna get a feed from the task
2. Periodically

[2020-08-25 14:55] StykMartin commented on #152
@beaker-project/restraint-maintainers please provide your opinions.

[2020-08-25 15:09] cbouchar commented on #152
If you allow user to opt-in, I suspect they will all opt-in which defeats what you were trying to achieve with the Log Mgr change.  Also it's also difficult trying to triage issues without log data. I'm thinking periodic upload may be the best way to go.

[2020-08-25 15:13] AloisMahdal commented on #152
While we're at it, it would be great if user could (from runtest.sh) opt-in for additional "hot" files to upload.  We often do eg.

    leapp upgrade .. >leapp.out 2>leapp.err

which can sometimes take 1-2 hours, so (within some conservative perf. related default timing) it would be useful to be able to see not just `taskout.log` but also other files updated regularly.

Some use cases for checking

[2020-08-25 15:17] AloisMahdal commented on #152
(feel free to ignore my scope creep.)  Just bringing back taskout.log would be better.  Even if it was eg. every 5 mins. (Not sure what was the frequency before.)

[2020-08-26 00:05] JohnVillalovos opened #153 "No 'harness.log' if External Watchdog triggered"
If a job runs and the External Watchdog is triggered there is no 'harness.log'

Which makes it difficult to debug the issue for why the external watchdog was triggered 😟

[2020-08-26 00:07] JohnVillalovos commented on #152
Being able to have the log as before via a config setting would be great. As we have no issues with our log servers so far us it is only a negative to not have log messages during the job run.

[2020-08-26 08:04] danrodrig commented on #153
This is related to log manager too and it will be addressed in #152

Thanks for reporting, @JohnVillalovos

[2020-08-26 08:11] StykMartin commented on #153
I believe that any implementation of #152 will fix this issue as @danrodrig mentioned above.
Closing this one

[2020-08-26 08:11] #153 closed

[2020-09-14 13:19] cbouchar opened #159 "Update chroots - Fedora-33 branched out"
Fedora-33 branched out.  Also add new rawhide (future f34).

[2020-10-09 08:04] #152 closed

[2020-10-20 13:29] StykMartin opened #168 "[Tests/Valgrind] CI is failing for Rawhide target"
CI is failing for Rawhide with following error:
[code]

The whole runtime can be found in:
https://github.com/beaker-project/restraint/actions/runs/317582363

[2020-10-20 13:55] cbouchar commented on #168
I am aware as I'm testing this.  Issue with pkg-config.

[2020-10-21 13:45] cbouchar commented on #168
My attempting to add f34 as rawhide was poorly timed as this fedora fix for pkgconf was making its way out.
https://src.fedoraproject.org/rpms/pkgconf/c/5dea89a881102185fe291a7a4902a10caa5b9a5e?branch=master

[2020-10-21 13:45] #168 closed

[2020-10-29 20:05] wizardofoz123 opened #173 "restraint client received SIGPIPE"
Hi,

during a kernel testing on a specific hardware, restraint client receives SIGPIPE signal and is killed.

$ restraint --conn-retries 15 --job /tmp/tmpprnoooe8/job.xml --rsh "ssh -o StrictHostKeyChecking=no" --host 8993063=root@<redacted!>
[<redacted!>] T:      14 [IOMMU boot test                            ] Running
[<redacted!>] Connection to <redacted!> closed by remote host.
Disconnected..

[2020-10-30 15:41] wizardofoz123 commented on #173
@cbouchar

[2020-11-03 16:27] cbouchar commented on #173
This doesn't sound like a restraint software issue but an environment issue where the communication path between the client and server is getting broken.

[2020-11-04 13:57] StykMartin commented on #159
Orphan ticket. All work has been done

[2020-11-04 13:57] #159 closed

[2020-11-05 20:05] wizardofoz123 commented on #173
Update: looks like this keeps happening with a specific test. Will create a reproducer, look at the code and ask the maintainer of the test itself.

[2020-11-12 17:14] danrodrig opened #179 "Static builds are failing on Fedora Rawhide"
For third party libraries, as seen in [x86_64 build log](https://beaker-project.osci.io/jenkins-results/restraint-rpms-run-gh/2732/koji-result/noarch-33049264/x86_64-33049311/build.log) from #178,
[code]

[2020-11-12 19:05] danrodrig commented on #140
In case of implementing this, I would suggest to make the dependency task available in a way that avoids the need of absolute imports like this one,

https://github.com/jbastian/jbastian-test/blob/a06e6fe07413ee9b251a0424c8befa83b9005776/misc/external-include/runtest.sh#L3

There was some work done do move task location away from `/mnt/tests`, and overall, we don't want tasks to relay on any speci

[2020-11-12 19:35] danrodrig commented on #149
The fix for this is more complicated that adding a print somewhere. Overall, is about fixing logging in client/server, and going further, the communication between client and server needs to be redesign.

[2021-02-14 21:38] AloisMahdal opened #184 "restraint won't update Beaker watchdog in fetch mode from Makefile"
I have a task with the "old school" RHTS Makefile with `TestTime` set to 12h.  I need to be able to run it with `<fetch/>` mode but also with `<rpm/>` mode.

When I run it in `<rpm/>` mode, as expected, task can run for 12h.

But in `<fetch/>` mode, the task will expire with `External Watchdog Expired` after 30 minutes.  Initially I suspected that restraint merely ignores the Makefile but from har

[2021-02-15 00:13] AloisMahdal commented on #184
Looking at the recipes I have, I'm probably wrong about this statement.  We've been using this command in `<rpm/>` mode successfuly for many months, but I can't say what made me think that it worked in `<fetch/>` mode.

[2021-02-15 02:33] AloisMahdal commented on #184
OK, so the situation is a bit more weird.  I've been able to watch it in progress.

First, restraint actually does set the external watchdog to 12.5h, as seen here:

    ** Fetching task: 121908660 [/mnt/tests/REDACTED/tests/distribution/jats/run]
    ** Extracting git://REDACTED/tests/distribution#jats/run/mnt/tests/REDACTED/tests/distribution/jats/run
    ** Extracting Makefile
    ** Extracting

[2021-02-17 10:32] AloisMahdal commented on #184
Looks like it could:  I changed the order to:

 1. we upload some early log.
 3. then we update task data to be more precise.
 2. then we update watchdog.

and the last watchdog value sticks.

At any rate, the issue is apparently not a bug restraint.  Closing.

[2021-02-17 10:32] #184 closed

[2021-02-17 14:54] StykMartin commented on #184
Well done @AloisMahdal.

[2021-02-17 16:51] AloisMahdal opened #185 "[RFE] flush & upload taskout.log before reboot"
Because runtest.sh output is cached and uploaded only every 15 seconds, when I have a task that initiates reboot, anything potentially useful that I might write to console (like "rebooting.." messafe) is likely to be kept in the cache and only shown to user (observer of the job in Beaker WUI) only after the reboot.

For example, if I have runtest.sh like this:

    case $REBOOTCOUNT in
        0)

[2021-03-01 10:43] thrix opened #186 "Restraint returns exit code 1 on watchdog timeout"
restraint version: restraint-client-0.2.0-2.fc31eng.x86_64

In our CI we see:

[code]

But we would expect according to src/errors.h rather RESTRAINT_TASK_RUNNER_WATCHDOG_ERROR, i.e. exit code 4

[2021-03-02 09:09] wizardofoz123 opened #187 "restraint in standalone mode doesn't print task being run"
When restraint is invoked in standalone mode with a Beaker host (e.g. `restraint --job /tmp/tmp_oevcnpg/job.xml --host 1234=root@hostname.com `), the name of the task that is actually running isn't printed to system console.log, only "reservesys" that is keeping the Beaker host up.

[code]

[2021-03-02 09:35] StykMartin commented on #187
I'm going to take my crystal ball and guess what is in job.xml.

I can see "Continuing task" instead of "Fetching task". What happened there before? Did you reboot the box?

[2021-03-02 09:53] wizardofoz123 commented on #187
@StykMartin AFAIK, none of that is relevant to the issue. No, I haven't rebooted the box, but the tests may have. It shouldn't be important.

You should be able to reproduce anytime by:

-  reserving a Beaker machine
-  using restraint in standalone mode to run tasks on it

[2021-03-02 10:35] StykMartin commented on #187
Well, I asked because I wanted to know if there is even a problem with restraint reporting directly to Beaker.
Furthermore, you running standalone Restraint that will spawn a new Restraintd in the box.
AFAIK all payload should be in your Restraint, not console.

[2021-03-02 10:40] StykMartin commented on #187
+ At this point I would say the whole thing about Restraintd reporting to console is completely useless.
It is Restraintd running reservesys, where is a way how to run Beaker machine without this blocking restraintd. The output of this is a separate topic.

So things that truly matters here.
restraintd (restraint) version rpm
restraint cli (restraint-client) version rpm

And if we are missing payl

[2021-03-03 11:00] wizardofoz123 commented on #187
I'm getting some unexpected behavior, sometimes everything is in restraint, sometimes the output about what task is running is in console. Sorry, I'll need to run reproducers for a while.

[2021-03-07 18:37] wizardofoz123 commented on #187
@StykMartin Right, after some testing with very lightweight config, the console output goes to console.log in Beaker and portion is also captured in dmesg.log.

To carefully move this further, my question is: is this the intended behavior? Also, can I change this and make sure all console.log content is in restraint output directory (e.g. job.01 for job.xml )?

RPM versions are:

server: restraint

[2021-03-08 16:46] wizardofoz123 opened #188 "restraint doesn't set RSTRNT_JOBID"
With following XML

[code]

and following command, RSTRNT_JOBID doesn't seem to be set, causing issues in tests.

[code]

Is this a bug?

[2021-03-08 16:53] StykMartin commented on #188
Restraint takes job id from recipe job_id.
https://github.com/beaker-project/restraint/blob/9c1be2264abb7f37a6a9c7f98b6a79d59736bc07/src/recipe.c#L427

[2021-03-08 16:54] wizardofoz123 commented on #188
@StykMartin I've tried that as well. No dice.

Also, docs don't show that set.

[2021-03-08 16:55] StykMartin commented on #188
Good to know, we will need to check then.

[2021-03-11 12:40] wizardofoz123 commented on #188
@cbouchar , can you please take a look? I need to get this resolved, because it breaks skip test code tests use and affects multiple kernel developers and test maintainers as a result.

[2021-03-12 12:17] bgoncalv opened #189 "20_unconfined doesn't work on recent Fedora (>=34)"
/usr/share/restraint/plugins/task_run.d/20_unconfined contains:

    local the_rpms="$(rpm -q --whatprovides redhat-release)"

But new fedora releases don't provide `redhat-release`

This was done as part of https://src.fedoraproject.org/rpms/fedora-release/c/00420683b40721ad6efa8391af71a077e8c7773f?branch=rawhide

This causes the following messages to be shown:

    /usr/share/restraint/plugins/t

[2021-03-12 12:22] bgoncalv commented on #189
This works:

    rpm -q --whatprovides /etc/redhat-release
    fedora-release-common-34-0.9.noarch

[2021-03-12 13:03] StykMartin commented on #189
This is already fixed in master. PR https://github.com/beaker-project/restraint/pull/180

[2021-03-12 13:03] #189 closed

[2021-03-13 15:30] StykMartin commented on #188
The client ignores this param.

[code]

I'll create PR shortly.

[2021-03-13 15:55] StykMartin commented on #187
@wizardofoz123 What exactly do you need, when you running client <--> server Restraint?
If you execute restraint-client in verbose, you can get information about execution.

[code]

If you will need more, or you looking for specific information, then we can create RFE for this functionality.

[2021-03-15 10:01] wizardofoz123 commented on #188
Thank you kindly!

[2021-03-15 10:19] wizardofoz123 commented on #187
@StykMartin After some specific checking, I can rephrase my question. Is restraint expected to capture anything written to `/dev/kmsg`?
As far as I can see, anything written to `/dev/kmsg` ends up in Beaker `console.log` and isn't captured in restraint output files.

[2021-03-15 12:00] StykMartin commented on #187
No. It is not expected that Restraint will gather the output.

Beaker is capable to capture this because we have access to serial consoles. In Red hat this is managed by conserver where Beaker just reading files

[2021-03-15 14:05] #188 closed

[2021-03-15 17:10] wizardofoz123 commented on #187
Then

Then this isn't a restraint issue.

Closing the issue. I will reopen, if I'm certain that I see output that is supposed to be captured by restraint and isn't.

Thank you.

[2021-03-15 17:10] #187 closed

[2021-03-20 14:10] renanrodrigo opened #196 "Reenable deprecation check after third party is using GLIB 2.68+"
Revert 24b54f011c795245ff86beeeb03a8163a93aa8fc after the deps are updated.
Reference: #194

[2021-03-21 13:00] wizardofoz123 commented on #173
We keep hitting this in the pipeline.

The issue isn't limited to a specific test.

[2021-03-22 15:15] wizardofoz123 opened #199 "restraint standalone doesn't capture a kernel panic!"
We provision a system using Beaker job XML 1), run restraint command (restraint standalone mode)
2) to run task 3) that does `echo c > /proc/sysrq-trigger`. The kernel panic is triggered,
the system reboots, but the restraint itself keeps waiting. It waits until EWD is hit.
Afterwards, when we get EWD hit, restraint clasifies it as abort and we lose information
that the kernel panicked!!!

If we u

[2021-03-22 15:59] wizardofoz123 commented on #199
This also shows another issue: the processing doesn't continue and any tasks after `/distribution/command` aren't run.
I'm seeing cases where the system was up for 50 minutes, with either restraint client or server stuck. Of course, afterwards it also hit EWD and aborted in the same way.

[2021-03-22 17:21] wizardofoz123 opened #200 "restraint doesn't always produce index.html"
When run in standalone mode like so:

`$ restraint --job job.xml --host 1=root@<REDACTED!>`

the restraint fails to create `index.html` file in its output directory (e.g. `job.01`) on any of the following conditions:

- When External Watchdog is hit in Beaker
- When the restraint process receives `SIGINT`, `SIGTERM` or `SIGPIPE` signals

Expected behavior: `index.html` file is created.

Any tests

[2021-03-22 20:30] cbouchar opened #201 "Restraint Rawhide(f35) does not compile due to SIGSTKSZ error"
Seeing a compile error with thirdparty package m4 due to change in glibc's SIGSTKSZ #define.
Previously it was a STATIC integer which could be handled during 'C' preprocessing but now
it is defined with sysconf() so value is only available during runtime.    The ^~~~~~ below actually sits
beneath SIGSTKSZ.

/usr/include/signal.h:315,
                 from ./signal.h:52,
                 from c-sta

[2021-03-24 10:10] wizardofoz123 commented on #199
@cbouchar Can you comment on this?

[2021-03-24 11:39] wizardofoz123 commented on #173
@cbouchar Can you suggest some way to debug this?

I've tried reproducing with specific tests and versions, but I haven't had luck. I'll try using specific machines as well.

[2021-03-24 12:02] cbouchar commented on #173
@wizardofoz123 I am aware of your problem but have work ahead of it.

[2021-03-25 19:54] cbouchar commented on #173
It would be interesting to add --timeout 15 to your client command line.  Currently the ssh connection between client and
server defaults to 5.  Give it more time and let's see how it behaves.

[2021-03-26 13:28] wizardofoz123 commented on #173
Thanks for suggesting this!

Looks like the problem _might_ be that we're using `--rsh` option, which throws away default restraint timeout settings and all we need to do is add `-o ServerAliveInterval=60 -o ServerAliveCountMax=5`  to it to have default settings.

Waiting on pipeline results to see if this resolves the problem.

[2021-03-26 13:45] cbouchar commented on #173
Very cool!  Let's hope you didn't speak too soon.  Please let me know results.

[2021-03-26 15:07] wizardofoz123 commented on #199
@cbouchar Can you take a look? restraint hanging or masking kernel panics seems like a big issue.

[2021-03-29 11:53] cbouchar commented on #173
Can this issue be closed?

[2021-03-29 13:00] wizardofoz123 commented on #173
@cbouchar  Unfortunately not, I see SIGPIPE with multiple systems, followed by kernel panic and EWD hit in Beaker.

[2021-03-29 15:31] wizardofoz123 commented on #173
This also often happens when a test reboots the system.

[2021-03-29 20:02] cbouchar commented on #173
In your client command line, do you have --p 8081 to specify a fix port for restraintd(server) to listen on?

[2021-03-30 10:32] wizardofoz123 commented on #173
@cbouchar No, I don't, all client invocations look like:
`restraint --conn-retries 15 --job /tmp/tmpl_mczffm/job.xml --rsh "ssh -o ServerAliveInterval=60 -o ServerAliveCountMax=5 -o StrictHostKeyChecking=no" --host 1234=root@<hostname>`

[2021-03-30 10:57] wizardofoz123 opened #204 "restraint-client barfs raw data and disconnects"
Sometimes when LWD (`WARN Score: 0        . /10_localwatchdog`) is hit, restraint-client barfs raw input:

[code]
<...>more raw data
[code]

Afterwards the system reboots and after a few connection retries, execution of tests continues.

[2021-03-30 18:58] cbouchar commented on #173
I'm unable to reproduce your issue.  What restraint version are you running on the server side?

[2021-03-31 08:01] StykMartin commented on #173
I'm quite Jakub is not providing FQDN(s) on purpose. We shouldn't leak it to the public.

[2021-03-31 08:59] wizardofoz123 commented on #173
RPM version:
 restraint               aarch64  0.3.2-1.el8bkr        beaker-harness

Martin is right, I'm not providing FQDN(s) on purpose. Although I _think_ they may be shared publicly, I still prefer to not provide them.
Sending more info over email for purposes of reproducing the issue.

Also, specifying port by hand using `-p 8082` does not solve the problem. restraint client is still SIGPIPE

[2021-04-12 12:46] lukaszachy opened #208 "[rfe] Client option/way to specify ssh port"
Hi, Could you please (re)introduce option to specify which ssh port restraint client connects to?
(used to be `--host=1=root@127.0.0.1/10037`)

In [tmt](https://github.com/psss/tmt) we are using testcloud in user qemu session and individual VMs are available via localhost but ssh listens on different ports - so in order to connect to that VM I need restraint client to use port I specify.

[2021-04-12 12:53] StykMartin commented on #208
https://github.com/beaker-project/restraint/blob/7d3d858ac68d8370b7d0c87980562f4d1c37f3d8/src/client.c#L1839
https://github.com/beaker-project/restraint/blob/7d3d858ac68d8370b7d0c87980562f4d1c37f3d8/src/client.c#L1040

Isn't this what you looking for @lukaszachy

[2021-04-12 12:54] StykMartin commented on #208
It is even possible to define the whole rsh
https://github.com/beaker-project/restraint/blob/7d3d858ac68d8370b7d0c87980562f4d1c37f3d8/src/client.c#L1844

[2021-04-12 14:41] lukaszachy commented on #208
Unfortunately it doesn't seems so - it t:
[code]
I had disabled sshd on localhost, when I enabled it it still tries to run restraintd on my laptop, not the VM.
[code]

[2021-04-12 14:51] StykMartin commented on #208
Oh right @lukaszachy, I messed up. Port is passed to restraintd on the opposite side.
However, this should be possible to perform w/ rsh. Let me try to do some tricks.

[2021-04-12 15:07] StykMartin commented on #208
I changed my `sshd` to listen on 10420.
[code]

Then I tried to connect to it via following command
[code]

And everything worked as expected
[code]

[2021-04-12 15:16] lukaszachy commented on #208
wow. Indeed. Thank you @StykMartin.
Could it be documented ? I read about -e in --help however didn't realise that command  can contains arguments as well.

[2021-04-12 15:21] StykMartin commented on #208
Sure, I will update documentation regarding this. Thank you for pointing out the issue.

[2021-04-12 16:11] StykMartin commented on #200
Hi @wizardofoz123

This is quite a clear use case. EWD killed box therefore client will timeout

_restraint process_. Are we speaking about `restraint` or `restraintd`?
I believe this is the same use case as first one, but something killed it instead of turning box off.

[2021-04-12 17:07] #208 closed

[2021-04-12 17:10] StykMartin commented on #199
So, I can comment on the `panic` thing.
Restraint doesn't support this. We built this feature in Beaker and not in harness. Therefore, this will require a new design (if we decide to implement it).

[2021-04-12 17:33] wizardofoz123 commented on #199
Thank you. After some checking I've realized it's in Beaker, not restraint.

However, surprisingly low amount of people realize that if Beaker goes away, it takes away our ability to report / act on kernel panics.
We can close the issue or leave it as a reminder of this.

[2021-04-12 17:51] wizardofoz123 commented on #200
Hi @StykMartin

we're talking about `restraint` client process.

Let's assume we have arbitrary tests (test1, test2, ..., testN). If test1 and test2 pass, then EWD is hit during execution of test3, shouldn't the restraint client process gracefully quite and create index.html with results that were produced prior to hitting EWD?

[2021-04-12 18:08] StykMartin commented on #199
Keeping this open. Maybe we will implement this in future.

[2021-04-24 09:20] #9 closed

[2021-04-24 09:31] StykMartin commented on #201
This is closed by #202 .

[2021-04-24 09:31] #201 closed

[2021-05-03 09:07] lukaszachy opened #212 "Missing Fedora34 repo"
Hi, Installation instructions says to use `https://beaker-project.org/yum/beaker-harness-Fedora.repo`
however currently there are no repodata for for freshly released **Fedora34**.

[2021-05-03 09:31] StykMartin commented on #212
Hello there.

RH is definitely not using the upstream resources for the harness. I allocated some space in the AOE cluster for this purpose, therefore change here will not affect you.

However, yeah, we need to build Restraint for F34. Infra is missing in upstream at this moment.

So... @renanrodrigo can you build it for RH and manually sync it for us, peasants, upstream? As a reward, I will pass

[2021-05-03 13:40] renanrodrigo commented on #212
@StykMartin we have it built, it's a matter of uploading.
So yes, can do :)

Beer is the best trading coin we will ever have around :D

[2021-05-05 20:57] cbouchar opened #213 "Remove RHEL5&6 from builds"
Since RHEL 5 & 6 no longer being built, removing it from the list.

[2021-05-06 06:42] #213 closed

[2021-05-08 23:05] wackrat opened #215 "File descriptor leaks in restraintd"
Each task opens two log files (`task.log` and `harness.log`), whose file descriptors leak into child processes spawned by `restraintd` because `close_on_exec` is not set on them.

The leaked file descriptors can lead to failures of tests which would otherwise pass, such as `DSO data reopen` in `perf test`, which mishandles gaps in file descriptor numbering. Gaps in child process file descriptor nu

[2021-05-10 11:30] wizardofoz123 opened #217 "restraint doesn't start running tasks"
The console on a ppc64le system with RHEL-7 says:

[code]
It looks like restraint hasn't started running the reservesys task for whatever reason.

This is what the console **should say instead:**

[code]

Server RPM: restraint-0.3.3-1.el7bkr.ppc64le
Client RPM: (not used, issue happens with reservesys , before actual tasks are run).

[2021-05-12 14:28] wizardofoz123 commented on #217
Adding internal beaker job numbers: 5339539 5339473 5339366

[2021-05-12 14:42] StykMartin commented on #217
@cbouchar I guess you will need to check. I don't have time for upstream at this moment + we have internal numbers here now.

[2021-05-16 14:44] renanrodrigo commented on #212
Sorry for the delay :|

[It's there](https://beaker-project.org/yum/harness/Fedora34/)

[2021-05-16 14:44] #212 closed

[2021-05-17 13:30] cbouchar commented on #217
I looked at your job 5339539. I removed the group=, cloned and reran it (ref: job 5372645) and it's working fine now.  Once thing I'd like to mention though, I recommend you have your fetches for downstream beaker as RH users can't count on upstream beaker code in github.  Please refer to my job 5373724 for sample of the fetch operation.

[2021-05-19 12:48] veruu opened #219 "Race condition with rstrnt-reboot giving control back to the runtest script"
We hit a race condition with rstrnt-reboot where the restraint process got terminated by systemd and it returned execution back to the test script. This happened when running restraint in standalone mode.

Specific case where we hit this problem: We have a script that installs a kernel, reboots the machine and checks the correct new kernel booted.

You can imagine the short version of the script a

[2021-05-25 10:38] wizardofoz123 commented on #217
@cbouchar I consider this to be a bug that doesn't reproduce well. It's not the highest priority of all issues here, but I don't consider 1x clone / rerun enough to say something is working fine. Let's keep this open so we have reference once we hit this again.

[2021-06-15 19:17] cbouchar opened #220 "RHEL-8 build reports pcre2-8 not found"
Once pull # 197 (upgrade to glib 2.68) was merged, started seeing build errors with RHEL-8 that pcre2-8 not found.

[2021-06-18 12:13] bgoncalv opened #224 "Add OOMPolicy=continue to restraintd service"
systemd supports this policy: https://www.freedesktop.org/software/systemd/man/systemd.service.html#OOMPolicy=

It would be nice if restraintd to continues to run even if a test trigger OOM, so it doesn't affect the test execution.

In same cases the OOM can even be intentional, like `LTP/OOM` test case.

[2021-06-18 12:14] bgoncalv commented on #224
@cbouchar do you maintain the restraint packages for the beaker harness?

[2021-06-18 12:31] cbouchar commented on #224
I am one of the maintainers.

[2021-06-18 12:37] bgoncalv commented on #224
That's fine, it is not urgent, but would be nice to have this set in the package.

[2021-06-25 13:21] cbouchar commented on #219
@veruu @wackrat I've written code to include a trap for SIGTERM but I agree with wackrat that it's not a full-proof solution.
Is it possible for your side to exit with non-zero cause I'm not sure it is a good idea to ignore the SIGKILL. I can do that too if you like but I'm thinking perhaps something can also be done on your end.
I have code written if you like to try it out.  What image would you

[2021-06-25 13:36] veruu commented on #219
@cbouchar we added that as a workaround to all our tests when we ran into this problem. However, other people may run into the same issue who don't have it in place for all of the tests they are running so it may still be a good idea to have it fixed on restraint side, or at least document this need very well and make it obvious

[2021-06-25 17:48] wackrat commented on #219
`SIGKILL` can't be ignored.

As long as callers of `rstrnt-reboot` exit cleanly upon `SIGTERM` (which they presumably do if they don't `trap` `SIGTERM`), by the time `SIGKILL` reaches `rstrnt-reboot` I'd expect its callers to have exited already. I haven't tested any of this myself, though.

It is possible to assign a command with `trap`. If a caller of `rstrnt-reboot` does that, it can include an

[2021-06-25 18:14] cbouchar commented on #219
@wackrat
I suspected SIGKILL couldn't be ignored. Thanks for the confirmation.
I chose the following trap method:
trap "" SIGTERM
This method prevents interrupting rstrnt-reboot.  It is discussed in the following reference.
Reference: https://www.linuxjournal.com/content/bash-trap-command

[2021-06-29 18:28] #224 closed

[2021-06-30 20:10] cbouchar commented on #220
https://github.com/beaker-project/restraint/pull/221

[2021-06-30 20:11] #220 closed

[2021-06-30 20:12] #179 closed

[2021-07-08 12:43] wizardofoz123 commented on #204
Found out a reproducer by accident:

1. clone CKI (UPT pipeline) job
2. start running tests in restraint standalone (e.g. sleep 3600, see example xml below)
3. run `rstrnt-adjust-watchdog -s http://localhost:${{PORT}}/recipes/{recipe_id}/watchdog 1`  with correct PORT and recipe_id substituted; PORT is the port of restraintd runner instance (not Beaker restraint)
4. the task will complete with WAR

[2021-07-08 15:12] wizardofoz123 commented on #200
Here's my takeaway from discussing this with @cbouchar

We've confirmed that this External Watchdog Abort is from Beaker restraint.

@cbouchar suggested setting the timeout to the 2nd restraint instance (the one that actually runs tests when in standalone mode).

However, this approach has some drawbacks, most notably:
* whenever EWD is hit (e.g. machine loses connection to Beaker lab controller),

[2021-07-08 18:36] cbouchar commented on #200
I've tried all the scenarios about and I always get an index.html file.  You and I need to sync-up to reproduce this.  I'm spending too much time on trying to repo.

[2021-07-13 11:48] cbouchar commented on #200
I spent at least 2 days trying to reproduce. Spoke with the Wizard and he too was unable to reproduce.
Below is his response and he's moved onto another project.   The case he mentioned was EWD on
beaker/restraint set-up.  I don't know what Idea I had suggested that he's referring to.  I am closing
this issue.

_The case we've tried in the meeting didn't reproduce.

The idea you suggested might wo

[2021-07-13 11:48] #200 closed

[2021-07-26 20:00] cbouchar commented on #173
Solution merged.
https://github.com/beaker-project/restraint/pull/229

[2021-07-26 20:00] #173 closed

[2021-08-06 15:08] bgoncalv opened #239 "kernel oops that happens during provison are marked as panic in the last task."
This was initially reported on https://bugzilla.redhat.com/show_bug.cgi?id=1623729

In case there is kernel oops during provision this oops is marked as a kernel panic in the last beaker task. This causes confusion to understand why that task is shown as panic.

[2021-08-06 15:08] bgoncalv commented on #239
recent example: https://beaker.engineering.redhat.com/recipes/10420198#task129869878

[2021-08-06 15:29] bgoncalv commented on #239
It seems it is actually beaker that detect this panic and not restraint, so I've opened https://github.com/beaker-project/beaker/issues/138

[2021-08-06 15:29] #239 closed

[2021-10-03 14:24] StykMartin opened #246 "Fedora 35 and Fedora Rawhide (36) are failing during Valgrind execution"
CI is failing at this moment during execution on F35/FRawhide.
It seems that we need to add a new suppress.
[code]

[2021-12-07 23:49] XiyangDong opened #249 "Task aborted with ERROR: Nothing was extracted from archive"
** Fetching task: 3 [/mnt/tests/gitlab.cee.redhat.com/identity-management/ipa-tests/-/archive/RHEL9.0/ipa-tests-RHEL9.0.tar.gz/beaker/ipa-server/acceptance/ipa-user-cli/moduser]
** Fetching task: Retries 1
** Fetching task: Retries 2
** Fetching task: Retries 3
** ERROR: Nothing was extracted from archive
** Completed Task : 3

We are hitting this issue from time to time, tried to raise max number

[2021-12-08 07:56] StykMartin commented on #249
Can you share the XML payload for this execution? At least bits for this task? Feel free to mask hostnames.

[2021-12-08 11:58] StykMartin opened #250 "Fedora 33 EOL"
Based on [document](https://docs.fedoraproject.org/en-US/releases/eol/) is Fedora 33 obsolete/eol.

Please update all CI and build targets.

[2021-12-08 11:59] StykMartin commented on #250
I'll deliver the patch later this day.

[2021-12-08 13:20] XiyangDong commented on #249
Hello @StykMartin , job.xml for this execution:

<?xml version="1.0"?>
<job>
  <recipeSet>
    <recipe id="1" status="Aborted" result="PASS" checkpoint_file="checkpoint_351347.conf" role="MASTER">
      <task name="/ipa-server/master/shared" keepchanges="" id="1" status="Completed" result="PASS" start_time="2021-12-07T19:31:17+0000" end_time="2021-12-07T19:31:25+0000" duration="08">
        <logs>

[2021-12-10 15:28] #215 closed

[2022-01-07 15:44] #250 closed

[2022-01-13 12:05] comps opened #255 "restraint binaries are not built with relro/pie/bind_now"
The `annocheck`(1) tool from the `annobin-annocheck` package reports that

[code]

This may or may not be because the `restraint.spec` doesn't set `LDFLAGS`, it only sets `CFLAGS`:
[code]

This should presumably export `LDFLAGS`:
[code]

[2022-01-13 12:07] comps opened #256 "systemd complains about restraintd.service using syslog+console"
[code]
As the message says, this should probably be updated.

[2022-01-13 13:39] StykMartin commented on #256
https://github.com/restraint-harness/restraint/commit/9db3329889781abdcb74f5e0147658bd3b523d1d

[2022-01-13 13:39] #256 closed

[2022-03-25 06:35] jencce opened #258 "fetch_url breaks symlink"
If using fetch_url to fetch code, the symlink turns to a regular file containing the filename it "was" pointing to.

For example, symlink  aconfig points to regular file bsetup in git repo, after fetching and saving, at the time testcase is running:
# cat aconfig
bsetup#

we need the file content of bsetup, not only the filename.

Looks like it's not following the symlink which is fair enough, but

[2022-05-07 09:39] StykMartin opened #263 "Packit is broken after migration to new namespace"
We lost all integration with Packit after we moved restraint to a new namespace/org.

[2022-05-07 09:39] StykMartin commented on #263
Access requested - https://github.com/packit/notifications/issues/428#issuecomment-1120173907

[2022-05-07 09:46] StykMartin opened #264 "Third-party zlib 1.2.11 is not available anymore."
Output from CI run
[code]

[2022-05-09 07:02] StykMartin commented on #263
Namespace has been approved. Closing.

[2022-05-09 07:02] #263 closed

[2022-05-23 15:00] veruu opened #267 "Builds for Fedora 36"
Hi! Fedora 36 was released last week. Can we get the repository available for this new version at https://beaker-project.org/yum/harness/ please?

[2022-05-24 19:53] StykMartin commented on #267
Working on C9 Build.. I will provide F36 as well.

[2022-06-23 17:35] lulinqing opened #270 "hardcoded branch name (master) is causing error on fetching from newer git repos (with 'main' as default branch)"
** ERROR: archive_read_open failed: Error from remote service: fatal: no such ref: master

Related line that seems to cause the problem:
https://github.com/restraint-harness/restraint/blob/a72ad542965d8ed8221fef2a9d1eebec3e782019/src/fetch_git.h#L22

[2022-06-23 17:52] p3ck commented on #270
I'm not sure how best to deal with this since both default branches could be valid.  You can specify the branch in the git query.

[2022-06-23 17:54] lulinqing commented on #270
Yep that's the current workaround we are using.
Any chance this can have a fallback default branch name as main, so restraint will try both (if not specified) before failing?

[2022-07-12 02:47] liuhangbin opened #272 "fetch url will use the first/last match folder"
If a sub-test name is same with another test name. The fetch url will use the last match folder instead of total matches. e.g.

[code]

If I try to fetch kselftest like

`fetch url="https://repo_url/total_tests/-/archive/main/toal_tests-main.zip#kselftests"`, restraint will fetch `livepatch/kselftests` instead of `kselftests`.

[2022-08-04 10:57] bgoncalv opened #273 "default FAILURESTRINGS matches words that contains BUG reporting false failures"
`FAILURESTRINGS="Oops|BUG|NMI appears to be stuck|Badness at"`

This cause dmesg check to report failure if it finds things like

[code]

[2022-08-04 10:58] bgoncalv commented on #273
would make sense to update the variable to use something like `"\bOops\b|\bBUG\b|NMI appears to be stuck|Badness at"` ?

[2022-10-13 09:13] sztsian commented on #272
This affects me as well. When we run our case `general/include`, it will try to install both `general/include` and `filesystems/general/include`. However, the dependency of the later one cannot be satisfied in my test, so it blocks my testing.

I hope this can be solved otherwise we will need to switch back to beah harness.

[2022-10-18 13:29] p3ck commented on #272
I can reproduce this issue and I'm looking at how best to fix it.

[2022-10-18 14:27] p3ck commented on #272
a workaround you can use is to specify the fragment with ./ in the beginning..

`fetch url="https://repo_url/total_tests/-/archive/main/toal_tests-main.zip#./kselftests"`

[2022-10-18 14:48] p3ck commented on #272
Can either of you provide the actual fetch url that is failing for you?  Assuming your tests are opensource and available on the internet?  I just want to make sure I'm not missing a corner case.

Thanks

[2022-10-18 14:50] bgoncalv commented on #272
The tests are on https://gitlab.com/redhat/centos-stream/tests/kernel/kernel-tests

[2022-10-19 08:57] bgoncalv commented on #272
@p3ck btw, the problem with repoRequires: from [comment](https://github.com/restraint-harness/restraint/issues/272#issuecomment-1277291842) will also be addressed or this is different issue and we need to report it separately?

[2022-10-24 18:40] cbouchar commented on #272
@bgoncalv I'm working on this issue and reporRequires cause it's in the same vicinity of code. I believe these issues are related to a single issue.  @p3ck Keeping Bill in the loop since we're discussed this.

[2022-11-29 08:50] spetrovi commented on #249
Hey we're also running into this from time to time, is there no further comment from restraint team?
Thanks,
Sam